<table class="ui celled table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Discount</th>
        <th>Total Amount</th>      
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let transaction of activeTransaction">
        <td>{{transaction.receiptDescription}}</td>
        <td >
          <div class="ui small input" >
              <input [(ngModel)]="transaction.quantity" type="text">
          </div>
        </td>
        <td>{{transaction.regularUnitPrice | currency}}</td>
        <td>{{transaction.quantity * transaction.extendedDiscountAmount | currency}}</td>
        <td>{{(transaction.quantity * transaction.regularUnitPrice) + (transaction.quantity * transaction.extendedDiscountAmount)| currency}}</td>
      </tr>
    </tbody>
  </table>